*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.box__wrapper{
    display: flex;
    align-items: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 4px solid lightgreen;
}
.box__small{
    height: 50px;
    width: 50px;
    margin-left: 24px;
    
}